*{
    margin:0;
    padding:0;
}
.navbar{
    width:100%;
    height: 50px;
    background-color: green ;
    
}
.navbar ul{
    text-align: center;
}
ul a{
    text-decoration: none;
}
ul a li.logo{
    position:relative;
    top:0.5px;
    padding: 10px 30px;
    
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 15px 40px;
    margin-left:-5px;
    position: relative;
    bottom: 5px;
    color:#e6e6e6;
   
}
.navbar ul li:hover{
    background-color: lightblue;
}
[for="hamburger"]{
    display: none;
    float:left;
    padding: 10px 20px;
}
#hamburger{
    display: none;
}

.section{
    width:70%;
    margin: auto;
    margin-top:20px;
}
 #header{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
#header h3{
   text-decoration: none;
   margin-top:7px;
}
#header a{
   text-decoration: none;
}

.container1{
   margin-top:35px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content:space-around;
    align-items: center;
}

.container1 img{
  width: 490px; 
  height: 300px;
}
#description{
   margin-right: 136px;
   margin-bottom:80px;
   float:left;

}
a{
text-decoration:none;
color:royalblue;
}
div.container2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    
}
.card{
   width:190px;
   margin:20px; 
   text-align: center;
   
}
[alt="card0"]{
   width:80%;
}
[alt="card1"]{
   width:60%;
}
[alt="card2"]{
   width:55%;
}
[alt="card3"]{
   width:45%;
}
.circle{
   width:15px;
   height: 15px;
   border-radius: 100%;
   margin:15px auto;
   background-color: gray;
   display: inline-block;
   margin-left:4px;
}
button{
   margin: 10px auto;
   width:53px;
   height: 35px;
   border-radius: 10px;
   background-color: #4dff5c;
   text-align: center;
   color:white;
}
button:hover{
   background-color: royalblue;
}
button:onclick{
   background-color:royalblue ;
}
p{
   margin: 3px auto;
   line-height: 1.8;
   font-family: 'Inter', sans-serif;
   font-size: 13px;
}
hr{
   width:70%;
   margin:auto;
}
h3{
   margin-top:20px;
}
.container1 h5{
   margin-top:7px;
}

@media screen and (max-width:1115px) {
    .navbar ul li:not(.logo){
        display: none;
    }
    [for="hamburger"]{
        display: block;
        float:left;
    }
    
    #hamburger:checked ~ ul li:not(.logo){
        display:block;
        position: relative;
        top:1px;
        background: rgba(0,0,0,0.6);
        text-align: center;
}
    ul a li.logo{
    margin-right:63px;
    
} 

div.container2{
   justify-content: center;
}
div.container1{
   flex-direction: column;
   justify-content: center;
}
#description{
   margin:0 auto; 
}
div.container1 img{
  position: relative;
  right:90px;
  z-index: -1;
}}